@layer fonts {
    /* league-spartan-300 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/league-spartan-v15-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* league-spartan-regular - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/league-spartan-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* league-spartan-600 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/league-spartan-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* league-spartan-700 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/league-spartan-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

@layer colors {
    /* create two different color custom properties.
        create first one to store colors like brown, black and other.
        create other customer property which will be more functional, 
        which will tell where that color will be used. */
    :root {
        /* primitives: store the value of colors */
        --c-brown: #9e7f66;
        --c-black: #111111;
        --c-white: #ffffff;
        --c-gray-100: #17192b;
        --c-gray-300: #242b37;
        --c-gray-500: #5c6779;
        --color-background-dark: var(--c-black);
        --color-text-light: var(--c-white);

    }
}

@layer global {
    /* box sizing on wild card, use * for all elements 
        this will prevent adding padding size to width or height attributes */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0; /*get rid of browser default setting*/
        background: var(--color-background-dark);
        color: var(--color-text-light);
    }

    h1,
    h2,
    h3 {
        margin: 0; /* remove default margins */
    }

    p {
        margin: 0; /* remove default margins */
    }

    img {
        /* by default img tags are inline elements which means browser 
            will add a little white space at the bottom of the image,
            coz most inline elements in html are treated as text and 
            they add white space at the bottom for letters that have  descenders
            meaning the letters that go below the baseline like
            lowercase j, g, p,q,y etc. 
            so display block will just get rid of this white space*/
        display: block;
        /* this will ensure the images doesn't go beyond the bounds of its container
            as it can cause horizontally scrolling, which we don't need.*/
        max-width: 100%;
    }
}